<!DOCTYPE html>
<meta charset="UTF-8">
<title>東方ロングスカートクイズ</title>

<!--[if IE]><script src="es5-shim.min.js"></script><![endif]-->

<body>
	<h2>東方ロングスカートクイズ</h2>
	<div id="root">

	</div>
	<script src="/js/app.compile.js"></script>
</body>

